*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
html{
  font-size: 62.5%;
}

body {
  font-family:  sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;  
  background-color: #F0E2DB;
}
.heading{
  font-size: 6rem;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin: 2rem 0;
}
.subheading{
  font-size: 4rem;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin: 2rem 0;
}
.eventofy_logo{
  display: inline;
  height: 22rem;
}

.buttn{
  text-align: center;
  margin-bottom: 10rem;
}
.button{
  background-color: #000;
  color: #F0E2DB;
  padding: 1rem 2rem;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  font-weight: 700;
  margin: 2rem 0;
  text-decoration: none;
}
.button:hover{
  background-color: #F0E2DB;
  color: #000;
  border: 1px solid #000;
}
.button:active{
  background-color: #000;
  color: #F0E2DB;
  border: 1px solid #000;
}
.button:first-child{
  margin-right: 5rem;
}
.paragraph{
  font-size: 2rem;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin: 2rem 0;
  margin-bottom: 5rem;
}