/* body::before {
    display:block;
    content:'';
    height:60px;
} */

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}

#title-image {
    size: 20%;
}

#left {
    width: 50%;
    background-color: blue;
}

.grid-container {
    display: grid;
  }

  .gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: #d02e9f;
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #e2d9e1;
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

#bordersss {
    border-radius: rem;

}